@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.energy-calculator {
  &-submit-button {
    @include button-base;
    margin-top: $spacing-xl;

    &:hover {
      background: $color-primary-dark;
      transform: translateY(-1px);
      box-shadow: 0 4px 6px -1px rgba($color-primary, 0.2);
    }

    &:active {
      transform: translateY(0);
    }
  }
} 